{% extends './base.html' %}
{% block content %}
    <h1>paiza bbs</h1>
    <p>{{ message }}</p>
    
    <table class='table table-striped table-hover'>
    {% for article in articles %}
        <tr>
            <td>{{ article.content }}</td>
            <td>{{ article.user_name }}</td>
            <td>
                <a href='{% url "bbs:detail" article.id %}' class='btn btn-outline-primary'>詳細</a>
                <a href='{% url "bbs:delete" article.id %}' class='btn btn-outline-secondary'>削除</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <p>
        <a href='{% url "bbs:create" %}' class='btn btn-outline-primary'>新規</a>
    </p>

{% endblock %}
